[submodule "prezto"]
	path = prezto
	url = git@github.com:mnology/prezto.git
[submodule "powerline_fonts"]
	path = powerline_fonts
	url = git@github.com:powerline/fonts.git
[submodule "mintty-color-schemes"]
	path = mintty-color-schemes
	url = git@github.com:oumu/mintty-color-schemes.git
[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "terminator-themes"]
	path = terminator-themes
	url = git@github.com:EliverLara/terminator-themes.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule ".xresources.d/base16-xresources"]
	path = .xresources.d/base16-xresources
	url = git@github.com:base16-project/base16-xresources.git
