[gui]
	fontui = -family \"Source Code Pro for Powerline\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Source Code Pro for Powerline\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[user]
	email = ejohanse@jaguarlandrover.com
	name = Erik Johansen
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
	ui = true
[diff]
	tool = meld
[branch]
	autosetupmerge = true
	autoSetupRebase = remote
[push]
	default = simple
[core]
	packedGitWindowSize = 16m
	packedGitLimit = 128m
[pack]
  windowMemory = 512m
[difftool]
  prompt = false
[alias]
  au = add -u
  cane = commit --amend --no-edit
	co = checkout
  fwl = push --force-with-lease
  flog = foresta --style=10 --reverse
  iter = !git au && git cane && git fwl
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
	gui = !sh -c /usr/local/Cellar/git/2.8.3/libexec/git-core/git-gui
	surm = submodule update --remote --merge
	ms = !git submodule sync && git surm
[core]
  excludesfile = /Users/**USERNAME**/.gitignore_global
[merge]
  tool=meld
[mergetool]
  prompt = false
[pull]
	rebase = true
[init]
	templateDir = /home/ejohanse/.git-template
